*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;
    color: #ffff;
    gap: 30px;
}
.flex{
    display: flex;
    gap: 20px;
}
.hours{
    background-color: rgb(2, 126, 235);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
}